.site-header {
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 20px 0;
  width: 100%;
  left: 0;
  right: 0;
  color: #fff;
}

.site-header.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #000;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.site-logo img {
  height: 60px;
}

.site-header .headr-right-side {
  gap: 40px;
}

.site-header .site-nav {
  gap: 40px;
  text-transform: capitalize;
}

.fixedMenu {
  position: fixed;
  top: 0;
  right: 0;
  right: -100%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  height: 100%;
  width: 0;
  transition: all 0.5s ease-in-out;
}

.fixedMenu.active {
  right: 0;
  width: 400px;
}

.fixedMenu-content .links {
  font-size: 22px;
  padding: 10px;
  display: block;
}

.fixedMenu-content .head {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.fixedMenu-content .links:hover {
  background: #eee;
  transition: all 0.3s ease-in-out;
}

.close-menu img {
  width: 30px;
  height: 30px;
}

@media (max-width:1280px) {
  .site-logo img {
    height: 55px;
  }
}

@media (max-width:767px) {
  .site-logo img {
    height: 45px;
  }

  .fixedMenu.active {
    right: 0;
    width: 100%;
  }
}