/* variables.css */
:root {
  --primary: #F56527;
  --secondary: #BC2035;
}



*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body,
* {
  font-family: 'Exo', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* common class */
.container {
  max-width: 1530px;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}


@media (max-width:767px) {
  .container {
    padding: 0 15px;
  }
}